<% if !logged_in? %>
	<div id="main-right">
		<%= image_tag "main-image.png" %>
	</div>
	<div id="main-left">
		<h1>Welcome to Course Crawler</h1>
		Find college courses that don't suck with Course Crawler.
		<% form_tag session_path do -%>
		<p><%= label_tag 'login' %><br />
		<%= text_field_tag 'login', @login %></p>

		<p><%= label_tag 'password' %><br/>
		<%= password_field_tag 'password', nil %></p>

		<p><%= label_tag 'remember_me', 'Remember me' %>
		<%= check_box_tag 'remember_me', '1', @remember_me %></p>

		<p><%= submit_tag 'Log in' %></p>
		<% end -%>
		
	</div>
<% else %>
	<center>
	<div class="search-top"></div>
	<div class="search-repeat">
		find a course to review or take
		<div class="searchboxdiv">
		<% form_tag  courses_path, :method => "get" do %>
			<p>
				<input id="search" name="search" type="text" class="searchbox">
				<div class="submitdiv"><%= submit_tag "Search", :name => nil %></div>
			</p>
		<% end %>
		</div>
	
	</div>
	<div class="search-bottom"></div>
		<h3>Course Crawler allows you to find courses that interest you and rate courses that you've already taken.</h2>	
	</center>
<% end %>

