<p>
  <b>Name:</b>
  <%=h @course.name %>
</p>

<p>
  <b>Teacher name:</b>
  <%=h @course.teacher_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @course.description %>
</p>
<% if(!@course.reviews.empty?) %>
This course has been reviewed <%= @number_of_reviews %> times.<br>

The top three adjectives most commonly associated with this course were: 
<%= "#{@course_adj[0]}, #{@course_adj[1]}, #{@course_adj[2]}" %>
<br>
The top three adjectives most commonly associated with this professor were: 
<%= "#{@prof_adj[0]}, #{@prof_adj[1]}, #{@prof_adj[2]}" %>
<br>	
The average difficulty reported by students in this class was: <%= @average_difficulty %><br>
The average interest level that this class provided was: <%= @average_interest_level %><br>
The level of engagement that the professor provides is: <%= @average_professor %><br>
<%= @average_recommend %>% of students would recommend this class to a friend.<br>
<br>
<%= "Your major is #{current_user.major}" %><br>
<% if(current_user.major == "Math") %>
	<%= @pct_math %>% of students in your expressed field of interest would recommend this course to a friend.
<% end %>
<% if(current_user.major == "Science") %>
	<%= @pct_science %>% of students in your expressed field of interest would recommend this course to a friend.
<% end %>
<% if(current_user.major == "Computers") %>
	<%= @pct_computers %>% of students in your expressed field of interest would recommend this course to a friend.
<% end %>
<% if(current_user.major == "English") %>
	<%= @pct_english %>% of students in your expressed field of interest would recommend this course to a friend.
<% end %>
<% if(current_user.major == "History") %>
	<%= @pct_history %>% of students in your expressed field of interest would recommend this course to a friend.
<% end %>
<% if(current_user.major == "Languages") %>
	<%= @pct_languages %>% of students in your expressed field of interest would recommend this course to a friend.
<% end %>
<br>

<% end %>
<%= link_to 'Review this Course', "/reviews/new?course=#{@course.id}&user=#{current_user.id}" %> |
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
